<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Polygon Tool</title>
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <input id="search" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
        <div id="vertices">
            <h3>Add Polygon Vertices</h3>
            <div id="vertices-box">
                <textarea rows="12" id="vertices-list" placeholder="Paste vertices separated by comma, ie. lat lon, lat lon"></textarea>
            </div>
            <div id="vertices-button-box">
                <input type="button" value="Add vertices" id="add" onClick="addVertices()"/>
            </div>
            <h3>Add Pin</h3>
            <div class="pin-input">
                <input id="lat" placeholder="lat" />
            </div>
            <div class="pin-input">
                <input id="lon" placeholder="lon" />
            </div>
            <div id="vertices-button-box">
                <br/>
                <input type="button" value="Add pin" id="add" onClick="addPin()"/>
            </div>
        <div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfPmsBP6BgR28kAvf8GjVYO8_9l07xL5s&callback=initMap&libraries=places"></script>
        <script src="/scripts/map.js"></script>
    </body>
</html>
