html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

#map {
    height: 100%;
}

#search {
    background-color: #fff;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0px 11px 0 13px;
    font-size: 20px;
    width: 300px;
}

#vertices {
    background-color: white;
    height: 430px;
    width: 20%;
    position: absolute;
    right: 0px;
    top: 0px;
}

#vertices-list {
    width: 90%;
}

.pin-input {
   text-align: center; 
}

#vertices-box {
    width: 100%;
    margin: 10px;
}

#vertices-button-box {
    text-align: center;
}
